{include '../common/headers.latte'}

<body>

<h1>Edit Role</h1>

<div class="form">
<form method="POST">
    <div class="name">
        <label for="role_name">Role Name</label>
        <input type="text" id="role-name" placeholder="Enter role name" name="roleName" value="{$role -> name}">
    </div>

    <button type="submit">Update</button>

</form>
</div>
</body>
</html>