{include '../../common/headers.latte'}

<body>

    <div class="row-box">
        <h2>{$bookDetail->title}</h2>
        <img src="{$bookDetail->imageUrl}">
        <div>{$bookDetail->author}</div>
        <div>{$bookDetail->publisher}</div>
        <div>{$bookDetail->isbn}</div>
        <div>{$bookDetail->price}</div>
        <label>Add to cart</label>
        <input type="number" min="1" max="{$totalBooks}" value="1">
    </div>



</body>
</html>