{include '../../common/headers.latte'}

<body>
<h1>Book Details Statistics</h1>
<a href="">Edit</a>
<div>{$statistics->title}</div>
<div>{$statistics->available}</div>
<div>{$statistics->sold}</div>
<div>{$statistics->damaged}</div>


</body>
</html>