{include '../../common/headers.latte'}

<body>

<h1>Book Details Statistics</h1>

<div>Title:{$statistics->title}</div>
<div>Available:{$statistics->available}</div>
<div>Sold:{$statistics->sold}</div>
<div>Damaged:{$statistics->damaged}</div>

</body>
</html>