<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan Heritage</title>
    <link rel=" icon" href="/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href='/assets/styles.css'>
</head>
<body>

<!-- Navigation Bar -->
<header class="navbar">
    <div class="navbar-logo">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="Artisan Heritage Logo" class="logo">
            <span class="brand-name" data-lang-en="Artisan Heritage" data-lang-np="हस्तकला धरोहर">Artisan Heritage</span>
        </a>
    </div>
    <nav class="navbar-links">


        <div class="dropdown">
            <select id="language-select" class="language-select">
                <option value="en">EN</option>
                <option value="np">ने</option>
            </select>
        </div>


        <div class="user-info">
            {if $isLoggedIn}
            <span class="username">{$LOGGED_IN_USER -> firstName}</span>

            <a href="/logout" class="logout-button" data-lang-en="Logout" data-lang-np="बाहिर निस्कनुहोस्">Logout</a>
            {/if}
        </div>

        {if $isLoggedIn}
            {if $LOGGED_IN_USER -> roleId == "ADMIN"}

                    <a class="nav-link" href="/roles">Roles</a>

                    <a class="nav-link" href="/users">Users</a>

                    <a class="nav-link" href="/book-details">Book Details</a>

                    <a class="nav-link" href="/book-details/inventory">Book Inventory</a>

                    <a class="nav-link" href="/book-details/inventory/save">Add Book</a>

            {else}
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/contact-us">Contact Us</a>
                <a class="nav-link" href="/cart">Cart - {$quantity}</a>
            {/if}
        {else}
            <a href="/login" class="login-button" data-lang-en="Login" data-lang-np="लग-इन">Login</a>
            <a class="nav-link" href="/cart">Cart - {$quantity}</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/contact-us">Contact Us</a>
        {/if}

    </nav>
</header>

