
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Details</h1>
    <table border=1>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Isbn</th>
            <th>Price</th>
        </tr>


        {foreach $bookDetails as $bookDetail}

        <tr>
            <td>{$bookDetail->id}</td>
            <td>{$bookDetail->title}</td>
            <td>{$bookDetail->author}</td>
            <td>{$bookDetail->publisher}</td>
            <td>{$bookDetail->isbn}</td>
            <td>{$bookDetail->price}</td>
        </tr>

        {/foreach}
    </table>

</body>
</html>