<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artisan Heritage</title>
    <link rel=" icon" href="/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href='/assets/styles.css'>
</head>
<body>

<div class="regisadd">
    <div class="regisimg">
        <img src="/assets/regispic.png" alt="Artisan Heritage Image">
    </div>

<div class="regisform">
    <form method="POST">
        <div class="regisform-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first-name" placeholder="Enter first name" name="firstName">

            <label for="last_name">Last Name</label>
            <input type="text" id="last-name" placeholder="Enter last name" name="lastName">
        </div>

        <div class="regisform-group">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter email" name="email">
        </div>

        <div class="regisform-group">
            <label for="password">Password</label>
            <input type="password" id="password" min="8" placeholder="Enter password" name="password">
        </div>

        <div class="regisform-group">
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Enter address" name="address">
        </div>

        <div class="regisform-group">
            <label for="contact-no">Contact No</label>
            <input type="text" id="contact-no" placeholder="Enter contact no" name="contactNo">
        </div>

        <button type="submit">Register</button>
    </form>
</div>
</div>
</body>
</html>