{include '../../common/headers.latte'}

<body>
<div class="statprod"></div>
<h1>Product Details Statistics</h1>

<div class="prodstattit">Title:{$statistics->title}</div>
<div class="prodstatava">Available:{$statistics->available}</div>
<div class="prodstatsold">Sold:{$statistics->sold}</div>
<div class="prodstatdam">Damaged:{$statistics->damaged}</div>
</div>
</body>
</html>